<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icha.layananpengaduanpa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayananPengaduanPA"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.operator.kelolaakun.EditPolisiSpktActivity"></activity>
        <!-- spkt -->
        <activity
            android:name=".MenuSpkt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.spktpolsek.pengaduan.DetailAduanSpktActivity"
            android:screenOrientation="portrait" /> <!-- masyarakat -->
        <activity
            android:name=".MenuMasyarakat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.masyarakat.pengaduan.postaduan.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.masyarakat.pengaduan.postaduan.DetailAduanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.masyarakat.pengaduan.postaduan.PostAduanActivity"
            android:screenOrientation="portrait" /> <!-- polisi -->
        <activity
            android:name=".MenuPolisi"
            android:label="@string/title_activity_menu_polisi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.polisi.pelaporan.postlaporan.PostPelaporanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.polisi.pelaporan.postlaporan.CariPengaduanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.polisi.pelaporan.postlaporan.DetailLaporanActivity"
            android:screenOrientation="portrait" /> <!-- operator -->
        <activity
            android:name=".MenuOperator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operator.kelolaakun.akunpolisi.PostAkunPolisiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>